<h2>{{@label}}</h2>
<div>
  <dl>
    <dt>@data</dt>
    <dd>
      <code>{{@data}}</code>
    </dd>
    <dt>this.readOnlyArgsData</dt>
    <dd>
      <code>{{this.readOnlyArgsData}}</code>
    </dd>
    <dt>@foo.bar.length</dt>
    <dd>
      <code>{{@foo.bar.length}}</code>
    </dd>
    <dt>this.numBars</dt>
    <dd>
      <code>{{this.numBars}}</code>
    </dd>
    <dt>@foo.fizz.buzz</dt>
    <dd>
      <code>{{@foo.fizz.buzz}}</code>
    </dd>
    <dt>this.fooFizzBuzz</dt>
    <dd>
      <code>{{this.fooFizzBuzz}}</code>
    </dd>
  </dl>
</div>

<h3>Previous values of @data</h3>
<ul>
  {{#each @foo.bar as |i|}}
    <li>{{i}}</li>
  {{/each}}
</ul>